@model IEnumerable<StoreFrontLab.DATA.EF.Bike>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BikeModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSiteFeature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeMakeID1.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeStatus.BikeStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeType.BikeType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TireType.Tubeless)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BikeModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsSold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.BikeImage)*@
            <img src="~/Content/imgstore/bikes/t_@item.BikeImage" alt="Bike Image" title="@item.BikeModel" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSiteFeature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeMakeID1.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeStatus.BikeStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeType.BikeType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TireType.Tubeless)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BikeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BikeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BikeID })
        </td>
    </tr>
}

</table>
